<!DOCTYPE html>

<html>

<head>
    <link rel="stylesheet" href="/css/styles.css">
    <!--in this context the root folder is the folder containing the html file -->
    <title>
        About
    </title>
    <link rel="icon" href="/img/weather-title-icon.png">
</head>

<body>
    <div class="main-content">
        {{>header}}
        {{!-- <h1>{{title}}</h1> --}}
        <img class="picture" src="/img/pic1_motogp_03092016.jpg">

    </div>


    {{>footer}}
</body>


</html>